
/* ========================  common css part start  ====================== */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    background: url(../images/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------------------------  common css part end  ------------------------ */
/* ========================  todo list css part start  =================== */
.main_todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: transparent;
    border: 2px inset pink;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.main_todo h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: pink;
}
.main_todo .todo_head {
    border: 2px dotted pink;
    border-radius: 20px;
    width: 500px;
    height: 40px;
    display: flex;
    overflow: hidden;
}
.main_todo .todo_head input {
    background: transparent;
    border: none;
    outline: none;
    width: 430px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
}
.main_todo .todo_head button {
    background-color: #FFEB55;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    width: 70px;
}
.main_todo .todo_head button:active{
    opacity: .8;
}
.error{
    color: red;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}
.single_todo {
    padding: 10px 20px;
    border: 2px solid pink;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single_todo input {
    border: none;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500px;
    color: #fff;
    background-color: transparent;
    width: 300px;
}
.single_todo button {
    padding: 5px 8px;
    color: black;
    font-size: 15px;
    background-color: #08C2FF;
    border: none;
    border-radius: 10px;
}
.single_todo .delete {
    background-color: red;
    color: #fff;
    margin-left: 5px;
}

/* ------------------------  todo list css part end  --------------------- */